.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0;
  background-color: #fefe62;
  position: fixed;
  width: 100%;
  z-index: 1;

  .logo {
    width: 50px;
  }

  .link {
    margin-right: 32px;
    text-decoration: none;
    text-transform: uppercase;
    color: #111;
    font-weight: bold;

    &:hover {
      background-color: #c85aff;
      padding: 30px 10px;
      transition: 1.4s;
    }
  }
  .socialMedia {
    background-color: #c85aff83;
    border-radius: 50%;
    margin: 0 5px;
  }
}